<mat-card style="width: 230px; padding: 0;" layout-align>
  <img mat-card-img src="{{boardgameInfo.thumbnail}}" height="230px" style="width: 230px;">

  <mat-card-content class="common-spacing">
    <b>{{boardgameInfo.title}}</b>
    <hr/>
    <div class="clearfix">
      <mat-icon matTooltip="Number of Players" matTooltipPosition="above">people</mat-icon>
      <span *ngIf="boardgameInfo.min_player_count === boardgameInfo.max_player_count">
        <b>: {{boardgameInfo.min_player_count}}</b>
      </span>
      <span *ngIf="boardgameInfo.min_player_count !== boardgameInfo.max_player_count">
        <b>: {{boardgameInfo.min_player_count}} - {{boardgameInfo.max_player_count}}</b>
      </span>
      <span class="right-item">
        <mat-icon matTooltip="Playetime"  matTooltipPosition="above">access_time</mat-icon>
        <span *ngIf="boardgameInfo.min_time === boardgameInfo.max_time">
          <b>: {{boardgameInfo.min_time}}</b>
        </span>
        <span *ngIf="boardgameInfo.min_time !== boardgameInfo.max_time">
          <b>: {{boardgameInfo.min_time}} - {{boardgameInfo.max_time}}</b>
        </span>
      </span>
    </div>
    <div class="clearfix">
      <mat-icon matTooltip="Complexity Weighting"  matTooltipPosition="below">casino</mat-icon><b>: {{boardgameInfo.complexity}}</b>
      <span class="right-item">
        <button mat-icon-button matTooltip="Request Game"  matTooltipPosition="below">
          <mat-icon>library_add</mat-icon>
        </button>
      </span>
    </div>
  </mat-card-content>
</mat-card>