<div>
  <mat-sidenav-container class="boardgame-container">
    <mat-sidenav mode="side" opened fixedInViewport fixedTopGap="100">
      <div class="sidebar-container">
        <form>
          <div style="padding: 24px;" class="clearfix">
            <button mat-icon-button (click)="onRunFilter()">
              <mat-icon>filter_list</mat-icon>
            </button>
            <b>Filter</b>
            <span class="right-item">
              <button mat-icon-button (click)="onRunFilter()" matTooltip="Filter Boardgames" matTooltipPosition="above">
                <mat-icon>done</mat-icon>
              </button>
              <button mat-icon-button (click)="resetFilter()" matTooltip="Reset Filter" matTooltipPosition="above">
                <mat-icon>cached</mat-icon>
              </button>
            </span>
          </div>
          <mat-accordion multi="true">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <b>Title</b>
                </mat-panel-title>
                <hr/>
              </mat-expansion-panel-header>

              <mat-form-field>
                <input matInput placeholder="Game Tile" name="title" [(ngModel)]="filter.title">
              </mat-form-field>

            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div>
                    <b>Players </b>
                    <mat-icon>people</mat-icon>
                  </div>
                </mat-panel-title>
                <hr/>
              </mat-expansion-panel-header>

              <b>Number Of Players:</b>
              <mat-slider thumbLabel tickInterval="1" min="0" [max]="numberOfPlayersMax" name="minplayers" [(ngModel)]="filter.numberOfPlayers"></mat-slider>
              {{filter.numberOfPlayers !== defaultFilter.numberOfPlayers ? filter.numberOfPlayers : noValueMessage}}
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div>
                    <b>Time To Play </b>
                    <mat-icon>access_time</mat-icon>
                  </div>
                </mat-panel-title>
                <hr/>
              </mat-expansion-panel-header>


              <b>Minimum Time:</b>

              <mat-slider thumbLabel tickInterval="1" min="0" [max]="minTimeCap" step="5" name="mintime" [(ngModel)]="filter.minTime"></mat-slider>
              {{filter.minTime !== defaultFilter.minTime ? filter.minTime : noValueMessage}}
              <br>
              <b>Maximum Time:</b>
              <br>
              <mat-slider thumbLabel tickInterval="1" min="0" [max]="maxTimeCap" step="5" name="maxtime" [(ngModel)]="filter.maxTime"></mat-slider>
              {{filter.maxTime !== defaultFilter.maxTime ? filter.maxTime : noValueMessage}}

            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div>
                    <b>Complexity
                      <mat-icon>casino</mat-icon>
                    </b>
                  </div>
                </mat-panel-title>
                <hr/>
              </mat-expansion-panel-header>


              <b>Minimum complexity:</b>
              <br>
              <mat-slider thumbLabel min="0" max="5" step="0.5" name="mincomplexity" [(ngModel)]="filter.minComplexity"></mat-slider>
              {{filter.minComplexity !== defaultFilter.minComplexity ? filter.minComplexity : noValueMessage}}
              <br>
              <b>Maximum Complexity:</b>
              <br>
              <mat-slider thumbLabel min="0" max="5" step="0.5" name="maxcomplexity" [(ngModel)]="filter.maxComplexity"></mat-slider>
              {{filter.maxComplexity !== defaultFilter.maxComplexity ? filter.maxComplexity : noValueMessage}}
            </mat-expansion-panel>
          </mat-accordion>
        </form>
      </div>
    </mat-sidenav>
    <mat-sidenav-content style="padding-left: 16px;">
      <div *ngFor="let boardgame of filteredBoardGames" style="padding: 12px; display: inline-table;">
        <app-boardgame [boardgameInfo]="boardgame"></app-boardgame>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>