<div>
  <mat-sidenav-container class="boardgame-container">
    <mat-sidenav mode="side" opened fixedInViewport fixedTopGap="100">
      <div class="sidebar-container">
        <form>
          <div style="padding: 24px;" class="clearfix">
            <button mat-icon-button (click)="onRunFilter()">
              <mat-icon>filter_list</mat-icon>
            </button>
            <b>Filter</b>
            <span class="right-item">
              <button mat-icon-button (click)="onRunFilter()" matTooltip="Filter Boardgames" matTooltipPosition="above">
                <mat-icon>done</mat-icon>
              </button>
              <button mat-icon-button (click)="resetFilter()" matTooltip="Reset Filter" matTooltipPosition="above">
                <mat-icon>cached</mat-icon>
              </button>
            </span>
          </div>
          <mat-accordion multi="true">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <b>Title</b>
                </mat-panel-title>
                <hr/>
              </mat-expansion-panel-header>

              <mat-form-field>
                <input matInput placeholder="Game Tile" name="title" [(ngModel)]="filter.title">
              </mat-form-field>

            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div>
                    <b>Players </b>
                    <mat-icon>people</mat-icon>
                  </div>
                </mat-panel-title>
                <hr/>
              </mat-expansion-panel-header>

              <b>Number Of Players:</b>
              <mat-slider thumbLabel tickInterval="1" min="0" [max]="numberOfPlayersMax" name="minplayers" [(ngModel)]="filter.numberOfPlayers"></mat-slider>
              {{filter.numberOfPlayers !== defaultFilter.numberOfPlayers ? filter.numberOfPlayers : noValueMessage}}
            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div>
                    <b>Time To Play </b>
                    <mat-icon>access_time</mat-icon>
                  </div>
                </mat-panel-title>
                <hr/>
              </mat-expansion-panel-header>


              <b>Minimum Greater Than:</b>

              <mat-slider thumbLabel tickInterval="1" min="0" max="300" step="1" name="mintime" [(ngModel)]="filter.minTimeGreaterThan"></mat-slider>
              {{filter.minTimeGreaterThan !== defaultFilter.minTimeGreaterThan ? filter.minTimeGreaterThan : noValueMessage}}
              <br>
              <b>And Less Than</b>
              <br>
              <mat-slider thumbLabel tickInterval="1" min="0" max="300" step="1" name="mintime" [(ngModel)]="filter.minTimeLessThan"></mat-slider>
              {{filter.minTimeLessThan !== defaultFilter.minTimeLessThan ? filter.minTimeLessThan : noValueMessage}}
              <hr/>

              <b>Maximum Greater Than:</b>
              <mat-slider thumbLabel tickInterval="1" min="0" max="300" step="1" name="maxtime" [(ngModel)]="filter.maxTimeGreaterThan"></mat-slider>
              {{filter.maxTimeGreaterThan !== defaultFilter.maxTimeGreaterThan ? filter.maxTimeGreaterThan : noValueMessage}}
              <br>
              <b>And Less Than</b>
              <br>
              <mat-slider thumbLabel tickInterval="1" min="0" max="300" step="1" name="maxtime" [(ngModel)]="filter.maxTimeLessThan"></mat-slider>
              {{filter.maxTimeLessThan !== defaultFilter.maxTimeLessThan ? filter.maxTimeLessThan : noValueMessage}}

            </mat-expansion-panel>

            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div>
                    <b>Complexity
                      <mat-icon>casino</mat-icon>
                    </b>
                  </div>
                </mat-panel-title>
                <hr/>
              </mat-expansion-panel-header>


              <b>Greater Than:</b>
              <br>
              <mat-slider thumbLabel min="0" max="5" step="0.5" name="maxcomplexity" [(ngModel)]="filter.complexityGreaterThan"></mat-slider>
              {{filter.complexityGreaterThan !== defaultFilter.complexityGreaterThan ? filter.complexityGreaterThan : noValueMessage}}
              <br>
              <b>And Less Than</b>
              <br>
              <mat-slider thumbLabel min="0" max="5" step="0.5" name="maxcomplexity" [(ngModel)]="filter.complexityLessThan"></mat-slider>
              {{filter.complexityLessThan !== defaultFilter.complexityLessThan ? filter.complexityLessThan : noValueMessage}}
            </mat-expansion-panel>
          </mat-accordion>
        </form>
      </div>
    </mat-sidenav>
    <mat-sidenav-content style="padding-left: 16px;">
      <div *ngFor="let boardgame of filteredBoardGames" style="padding: 12px; display: inline-table;">
        <app-boardgame [boardgameInfo]="boardgame"></app-boardgame>
      </div>
    </mat-sidenav-content>

  </mat-sidenav-container>
</div>